@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
.C-contenedor{
    width: auto;
    padding-top: 15px;
    height: 900px;
    background-repeat: no-repeat;
    background-size:cover;
}
.p-contenedor{
    display: flex;
    background-color: black;
    margin-top: 12px;
    padding: 15px;
    border-radius: 40px;
}

.menu{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}

.contenedor-logo{
    display: flex;
    width: 40%;
    height: auto;
    background-color: aliceblue;    
}

.logo{
    width: 100px;
    height: auto;
}

.menu-contenedor{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.menu-contenedor-botones a{
    text-decoration: none;
    color: #52D910;
    font-family:'Days One', sans-serif;
}